.input
    width: 100%

    display: flex
    justify-content: space-between

    &>input
        width: 100%
        padding: 1rem
        border-radius: 15px
        border-top-right-radius: 0
        border-bottom-right-radius: 0

        background: #1a1a1a
        border: none
        outline: none


    &>button
        border-top-left-radius: 0
        border-bottom-left-radius: 0

        background: #57B476
        border: none

        &:hover
            border: none
